.focusBar {
    position: fixed;
    display: flex;

    height: 5em;
    width: 100%;

    opacity: 50%;
    background-color:rgb(48, 67, 104);

    transition: top .2s ease;
    top: -6rem;

    z-index: 11;
} 

.focusBar .item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 6em;

    cursor: pointer;
}

.focusBar.show {
    top: 0;
	animation-timing-function: 0.2s ease-in;
}

.focusBar .item:hover {
    background-color: rgb(35, 48, 73);
}