.galleryBar {
    display: flex;
    justify-content: space-between;
    align-content: center;

    position: fixed;
    left: 0;

    height: 5rem;
    width: 100%;
    opacity: 50%;

    background-color:rgb(48, 67, 104);

    /* prevent text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.galleryBar.top {
    transition: top .3s ease;
    top: -6rem;
}

.galleryBar.bottom {
    transition: bottom .3s ease;
    bottom: -6rem;
}

.galleryBar .left {
    display: flex;
    min-width: 25%
}

.galleryBar .middle {
    display: flex;
    flex-grow: 2;
    /* background-color: burlywood; */
    justify-content: center;
}

.galleryBar .right {
    display: flex;
    min-width: 25%;
    justify-content: right;
}

.galleryBar .pageDisplay {
    font-size: 2rem;
}

.galleryBar .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;

    cursor: pointer;
}

.galleryBar .item .spin {
    animation: spin-animation 1.5s infinite;
    display: inline-block;
}

.galleryBar .item:hover {
    background-color: rgb(35, 48, 73);
}

.galleryBar.top.show {
    top: 0;
	animation-timing-function: 1s ease-in;
}

.galleryBar.bottom.show {
    bottom: 0;
	animation-timing-function: 1s ease-in;
}

@keyframes spin-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }

