.sourceSelector {
    display: flex;
    align-content: center;
    flex-direction: column;

    position: fixed;
    top: 6rem;
    left: -6rem;

    height: 100%;
    width: 6rem;
    opacity: 90%;

    background-color:rgb(48, 67, 104);

    transition: left .2s ease;
}

.sourceSelector .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    height: 6rem;

    padding: 0 2px;
    text-align: center;
    font-size: 0.9rem;

    cursor: pointer;
}

.sourceSelector .item:hover {
    background-color: rgb(35, 48, 73);
}

.sourceSelector .item.selected {
    background-color: rgb(185 74 21 / 63%)
}

.sourceSelector.show {
    left: 0;
	animation-timing-function: 1s ease-in;
}