.sourceSelector {
    display: flex;
    align-content: center;
    flex-direction: column;

    position: fixed;
    top: 6rem;
    left: -6rem;

    height: 100%;
    width: 6rem;
    opacity: 90%;

    background-color: rgb(23, 114, 218);

    transition: left .5s ease;
}

.sourceSelector .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    height: 6rem;

    padding: 0 2px;
    text-align: center;
    font-size: 0.9rem;

    cursor: pointer;
}

.sourceSelector .item:hover {
    background-color: rgb(21, 98, 185);
}

.sourceSelector .item.selected {
    background-color: rgb(16, 68, 128);
}

.sourceSelector.show {
    left: 0;
	animation-timing-function: 1s ease-in;
}